@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Montserrat;
}
#form1{
    background-color:#faead6 ;
    border: 2px solid #fdd4a3 ;
    border-radius: 24px ;
    padding: 12px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width:320px;
    height:56px;
    border-radius: 8px;
    border: transparent;
    padding: 0px 8px;
    box-shadow: #fdd4a3 4px 4px ;
    font-size: 18px;
   
    
}
select{
    width:240px;
    height:56px;
    border-radius: 8px;
    border: transparent;
    font-size:18px ;
    font-weight: 500;
}
button{
    width:132px;
    border-radius:8px;
    height:56px;
    border: transparent;
    font-size: 18px;
    background-color: #fdd4a3;
    box-shadow: rgb(22, 104, 218) 1px 1px 5px 2px;
    color:whitesmoke;
    transition: ease-in-out 0.2s all;
}
button:hover{
    color:greenyellow;
    background-color: green;
    
}
.check{
    width:240px;
    border:2px solid;
    height:auto;
    padding:16px 0px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap:8px;
    border-radius: 16px;
    margin:8px;

    div{
        width:90%;
        display: flex;
        justify-content:left;
        align-items:center;
        gap:16px;
    }


    input{
        width:24px;
        height:24px;
    }
}