*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#form1{
    background-color:#faead6 ;
    border: 2px solid #fdd4a3 ;
    border-radius: 24px ;
    padding: 12px;
    height:80vh;
}